# =========================================================
# VARIABLES DE ENTORNO
# =========================================================

.env

# =========================================================
# PYTHON
# =========================================================

__pycache__/

*.py[cod]

# =========================================================
# PYTEST
# =========================================================

.pytest_cache/

# =========================================================
# ENTORNOS VIRTUALES
# =========================================================

venv/

.venv/

# =========================================================
# AIRFLOW LOGS
# =========================================================

logs/

# =========================================================
# IDEs
# =========================================================

.vscode/

.idea/
